body {
  font-family: Arial, Helvetica, sans-serif;
  
}

section {
  background-color: white;
  padding: 10px;
}
h1{
    text-align: center;
    margin-bottom: 25px;
}
.hide {
  display: none;
}

.show {
  display: block;
}

p {
  padding: 0 10%;
  font-size: medium;
  text-align: center;
}

#start {
  display: block;
  margin: 0 auto;
  background-color: purple;
  color:white;
}

.choice {
  display: block;
  margin-top: 10px;
}
.position-rel {
  font-size: 125%;
}
#questionCard {
  margin: 46px 280px;
  padding: 0px 0px 237px 0px;
}
#start-screen {
  margin: 46px 313px;
  padding: 0px 0px 237px 0px;
}
#highscore-section {
  margin: 46px 280px;
  padding: 0px 0px 237px 0px;
}
